body {
  margin: 0;
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 40px;
  height: inherit;

}
html {
  height: 100%;

}
#name {
  transition: color 0.5s;
}

.fade-in {
  animation-name: fade;
  animation-duration: 4s;
}

.profile-pic {
  border: 1px solid black;
  position: absolute;
  top: 10px;
}
.logo {
  position: absolute;
  bottom: 0;
  max-height: 80%;
  max-width: 100%;
  opacity: 0.5;
  z-index: -1;
}
.circle-corners {
  border-radius: 1000px;
}

/*.footer-button {
  font-size: 4vmax;
  min-width: 6vmax;
  min-height: 6vmax;
  justify-content: center;
  height: inherit;
  text-align: center;
  line-height: 5.5vmax;
  color: white;
  background-color: #f65e5e;
  transition: color 0.5s, transform 0.2s, background-color 0.5s;
}
.footer-button:hover {
  transform: scale(1.2);
  background-color: #bfbfbf;
  text-decoration: none;
}*/
.footer-button {
  font-size: 40px;
  min-width: 60px;
  min-height: 60px;
  justify-content: center;
  height: inherit;
  text-align: center;
  line-height: 60px;
  margin: 10px;
  color: white;
  background-color: #f65e5e;
  transition: color 0.5s, transform 0.2s, background-color 0.5s;
}
.footer-button:hover {
  transform: scale(1.2);
  background-color: #bfbfbf;
  text-decoration: none;
}
.button-text {
  text-align: center;
}
ul.buttons {
  list-style: none;
}
ul.buttons {
  display: inline-block;
  margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
.button {
  text-decoration: none;
  position: relative;
  display: block;
  width: 3.75em;
  height: 3.75em;
  border-radius: 100%;
  border: solid 1px #c8cccf;
  line-height: 3.75em;
  overflow: hidden;
  text-align: center;
  text-indent: 3.75em;
  white-space: nowrap;
}

@media only screen and (min-width: 600px) {
  /*.footer-button {
    font-size: 3vmax;
  }*/
}
@keyframes move {
    0%   {top: 100%; opacity: 0; width: 0; height: 0; border-radius: 100px; margin-left: 0;}
    30% {top: 48%; opacity: 1; width: 200px; height: 200px; margin-left: -100px; border-radius: 100px;}
    60% {top: 50%; width: 300px; margin-left: -150px; border-radius: 10px;}
    80% { height: 400px;}
}
@keyframes fade {
  0% {opacity: 0;}
  30% {opacity: 0;}
  50% {opacity: 1;}
}
